<!-- this file defines style of post page -->
<html>
	<head>
		<title>
		</title>
		<style>
			* {
				margin: 0;
				padding: 0;
			}
			h1, h2, h3 {
				margin: 15px 0px 15px 0px;
			}
			.post {
				margin: 20px 20% 40px 20%;
				line-height: 23px;
			}
		</style>
	</head>
	<body>
		<div class='post'>
			<font color="red"><b>publised in</b></font>&nbsp;&nbsp;
			<span id='bw_blog_date'>
			</span>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<font color="red"><b>tag</b></font>&nbsp;&nbsp;
			<span id='bw_blog_tag'>
			</span>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<font color="red"><b>author</b></font>&nbsp;&nbsp;
			<span id='bw_blog_author'>
			</span>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<font color="red"><b><a href="./../index.html">click here to return</a></b></font>&nbsp;&nbsp;
			<br/><br/><hr/><br/>
			<div id='bw_blog_content'>
			</div>
		</div>
	</body>
</html>